
body {margin:0;background-color:antiquewhite;}

ul {        
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color:rgb(236, 56, 56);
 position:relative;
 top: 0;
 width: 100%;
 font-size: 25px;
 height: 75px;
}
.inputbox{
    width: 400px;
    height: 40px;
}
.logo {
  max-width: 90px;
}
.logo1
{
  float:left;
}
li {
 float: right;
 margin-top: 0%;
}

li a {
 display: block;
 color: white;
 text-align: center;
 padding: 20px 46px;
 text-decoration: none;
}

li a:hover:not(.active) {
 background-color: black;

 
}

.active {
 background-color: rgb(165, 56, 14)      ;
}
.new{
  display: flex;
  justify-content: space-between;
  
}